<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>ログイン</h1>
  <form action="/login" method="POST">
    <div>
      name:<input type="text" name="name" value="">
    </div>
    <div>
      password:<input type="text" name="password" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</body>
</html>